@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';


body {
 padding: 0;
 margin: 0;
 box-sizing: border-box;
}

.containers{
width: 85%;
margin: auto;
}
.custombg{
    background: linear-gradient(to left,#efb71a,#fdf03f);
}
.customcolor{
    color:#efb71a;
}

.heroSection{
    background:linear-gradient(to right,rgba(0, 0, 0, 0.874),rgba(0, 0, 0, 0.144)),url('../public/hero.png');
    height: 80%;
    background-size: cover;
    background-position: center;
    display: flex;
    align-items: center;
}